.App {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 25px;
  display: flex;
  justify-content: center;
  position: relative;
}
.tasklist-container {
  width: 100%;
  max-width: 550px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  position: relative;
  overflow: hidden;
}
.title-container {
  width: 90%;
  padding: 50px 40px 25px 38px;
}
.title {
  font-weight: 700;
}
.taskmanager-container,
.all-tasks {
  margin: 0 auto;
}
.all-tasks{
  width: 88%;
  margin-bottom: 60px;
}
.removeStatusIsActive{
  margin-bottom: 140px;
}
.taskmanager-container {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px 12px 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(235, 234, 234);
  position: relative;
}
.taskmanager-container > p {
  font-weight: 600;
}
.taskmanager-container > div {
  display: flex;
  align-items: center;
}
.no-task-msg-container {
  margin-right: 8px;
  margin-top: 22px;
  display: flex;
  justify-content: right;
  text-align: center;
  transform: translateX(25px);
}
.no-task-msg {
  display: inline-block;
  color: rgb(85, 85, 85);
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 15px;
  width: 90px;
  animation: moveArrow 0.8s infinite alternate-reverse;
}
.arrowup-img {
  position: absolute;
  top: 43px;
  right: 27px;
  width: 32px;
  animation: moveArrow 0.8s infinite alternate-reverse;
}
@keyframes moveArrow {
  from{ transform: translateY(0px);}
  to{ transform: translateY(6px); }
}

@media screen and (max-width: 940px) {
  .taskmanager-container {
    width: 96%;
  }
}
.alert{
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  animation: showMsg 2.9s alternate ease;
}
.alert.error{
  background-color: rgba(248, 215, 218, 0.8);
}
.alert.success{
  background-color: rgba(209, 231, 221, 0.7);
}
.error-msg{
  font-weight: 500;
}
@keyframes showMsg {
  0%{
    opacity: 0.1;
    top: 0px;
  }
  5%{
    opacity: 1;
    top: 20px;
  }
  80%{
    opacity: 1;
    top: 20px;
  }
  100%{
    opacity: 0;
    top: 0px;
  }
}
.delete-options-container{
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(3px);
  animation: showDeleteOptions .5s alternate;
}
.delete-options-container.close{
  opacity: .1;
  transform: translateY(150px);
  transition: .5s transform, .25s opacity;
}
@keyframes showDeleteOptions {
  from{
    opacity: .3;
    padding: 30px;
  }to{
    opacity: 1;
    padding: 15px;
  }
}
.delete-options{
  box-shadow: 0 0 5px rgb(224, 224, 224);
  background-color: white;
  padding: 12px 70px;
  border-radius: 10px;
  border: none;
  transition: .1s all;
  font-weight: 600;
}
.delete-options.cancel{
  border: 1px solid rgb(224, 224, 224);
  background-color: rgba(255, 255, 255, 0.5);
}
.delete-options.cancel:hover{
  filter: brightness(1.05);
  background-color: rgba(255, 255, 255, 1);
}
.delete-options.delete{
  background-color: rgb(255, 130, 130);
}
.delete-options.delete:hover{
  background-color: rgb(255, 75, 75);
}
.footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(245, 245, 245, 0.9);
  backdrop-filter: blur(5px);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .delete-options{
    padding: 10px 50px;
  }
}
@media screen and (max-width: 425px) {
  .title-container {
    padding-left: 32px;
  }
  .delete-options-container{
    gap: 15px;
  }
  .delete-options{
    font-size: .9rem;
    padding: 10px 33px;
  }
  .footer{
    font-size: 12px;
  }
}
@media screen and (max-width: 320px){
  .delete-options{
    padding: 10px 26px;
  }
}