html, body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
}
body{
  background-color: #F5E3E6;
  background-image: 
  linear-gradient(62deg, #E5BDF6 0%, #D8DEDE 100%);
}
h1{
  font-size: 33px;
}