html, body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
body{
  background-color: #F5E3E6;
  background-image: 
  linear-gradient(62deg, #E5BDF6 0%, #D8DEDE 100%);
}
h1{
  font-size: 33px;
}